[dir] .examplesetup__outlined-placeholder___12Wx5{border:2px solid #0079be}.examplesetup__placeholder___2_MjQ{display:block;height:20px;width:40px}[dir] .examplesetup__placeholder___2_MjQ{background-color:#000}.examplesetup__highlighted-placeholder___3-B6A{display:block;height:20px;width:40px}[dir] .examplesetup__highlighted-placeholder___3-B6A{background-color:#000;background-color:#0079be}

.ArrangeExamples-module__arrange___1Y_AV{height:60px;width:500px}[dir] .ArrangeExamples-module__arrange___1Y_AV{border:1px solid #000}

