:local {
  .table {
    background-color: var(--terra-table-background-color, rgba(255, 255, 255, 0));
    border: var(--terra-table-border, 1px solid #dedfe0);
    width: 100%;
    overflow: hidden;
    position: relative;

    &.fill {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .header {
    background-color: var(--terra-table-header-background-color, #f4f4f4);
    border-bottom: var(--terra-table-header-border-bottom, 1px solid #868a8c);
    box-shadow: var(--terra-table-header-box-shadow, 0 4px 4px -4px rgba(134, 138, 140, 0.75), inset 0 0 0 1px #fff);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .header-content {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
  }

  .header-inset {
    flex: 0 0 auto;
    max-height: 100%;
    overflow: hidden;
    width: 0;
  }

  .body {
    background-color: var(--terra-table-body-background-color);
    min-height: 0;
    width: 100%;
  }
}
/* stylelint-enable selector-max-compound-selectors, max-nesting-depth */
