:local {
  .overlay-container1,
  .overlay-container2 {
    width: 100%;
  }

  .overlay-container1 {
    height: 100%;
  }

  .overlay-container2 {
    height: 100px;
  }

  @keyframes flickerAnimation {
    0% { opacity: 0.85; }
    50% { opacity: 0.2; }
    100% { opacity: 0.85; }
  }
  
  .flicker {
    animation: flickerAnimation 2s infinite;
  }
}
